@font-face {
  font-family: "iconfont"; /* Project id 2018438 */
  src: url("//at.alicdn.com/t/font_2018438_atryleieum6.woff2?t=1620459963471")
      format("woff2"),
    url("//at.alicdn.com/t/font_2018438_atryleieum6.woff?t=1620459963471")
      format("woff"),
    url("//at.alicdn.com/t/font_2018438_atryleieum6.ttf?t=1620459963471")
      format("truetype");
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
