@font-face {
    font-family: 'iconfont';  /* project id 2018438 */
    src: url('//at.alicdn.com/t/font_2018438_4k9olqdj73n.eot');
    src: url('//at.alicdn.com/t/font_2018438_4k9olqdj73n.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2018438_4k9olqdj73n.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2018438_4k9olqdj73n.woff') format('woff'),
    url('//at.alicdn.com/t/font_2018438_4k9olqdj73n.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2018438_4k9olqdj73n.svg#iconfont') format('svg');
  }
  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}