$darkColor: #000000;
$content-fontColor: #333333;
$content-notice-fontColor: #777777;
$medium-fontColor: #666666;
$light-fontColor: #999999;
$content-bgColor: #f1f1f1;
$search-bgColor: #f5f5f5;
$search-fontColor: #b7b7b7;
$hightlight-fontColor: #e93b3b;
$btn-bgColor: #0091ff;
$dark-bgColor: #f8f8f8;
$bgColor: #fff;
