html {
  font-size: 1px;
}
body {
  /* font-family: Helvetica; */
  font-size: 14rem;
}
html,
body,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
